// Count from 0
$scheme-selector: 1;
// Color Theme
$global-color-1: #566065;
// STYLE SEA BUCKTHORN
// $scheme-selector: 0;$global-color-2: #f89a3d;
// STYLE CARIBBEAN GREEN
$scheme-selector: 1;$global-color-2: #00be98;
// STYLE HELIOTROPE
// $scheme-selector: 2;$global-color-2: #AD6CFF;
// STYLE MATRIX
// $scheme-selector: 3;$global-color-2: #B35959;
// STYLE FOREST GREEN
// $scheme-selector: 4;$global-color-2: #2BA520;
// STYLE ROMAN
// $scheme-selector: 5;$global-color-2: #da5252;
// STYLE MALIBU
// $scheme-selector: 6;$global-color-2: #5CD7FF;
// STYLE CRANBERRY
// $scheme-selector: 7;$global-color-2: #e44884;
// STYLE CONIFER
// $scheme-selector: 8;$global-color-2: #9BEB52;
// STYLE GOLD
// $scheme-selector: 9;$global-color-2: #FFD600;