#ht-style-switcher {
	position: fixed;
	z-index: 99999999999999999;
	top: 100px;
	left: -140px;
	// left: -2px;
	width: 140px;
	background: #333;
	border-width: 5px 2px 5px 0;
	border-style: solid;
	border-color: #f89a3d;
	color: #fff;
	padding: 20px;
	transition: 500ms;
	-webkit-transform: translate3d(0,0,0);
	border-radius: 0 3px 3px 0;
	.inner {
		position: relative;
		display: block;
		.toggle {
			opacity: 0.3;
			border: none !important;
			position: absolute;
			cursor: pointer;
			display: block;
			padding: 5px 10px;
			right: -54px;
			top: 0px;
			border-radius: 0 3px 3px 0;
			border: 2px solid #f89a3d !important;
			text-align: center;
			color: #fff;
			background: #333;
		}
		.active {
			opacity: 1;
		}
		.heading {
			font-weight: bold;			
			margin-bottom: 10px;
			font-size: 1em;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				display: inline-block;
				cursor: pointer;
				transition: all 300ms ease-out;
			}
			&.change-color {
				text-align: left;
				li {
					width: 36px;
					height: 36px;
					border-radius: 50%;
					border: 2px solid #fff;
					margin-right: 10px;
				}
				$color0: #f89a3d;
				$color1: #00be98;
				$color2: #AD6CFF;
				$color3: #B35959;
				$color4: #2BA520;
				$color5: #da5252;
				$color6: #5CD7FF;
				$color7: #e44884;
				$color8: #9BEB52;
				$color9: #FFD600;

				li.color-1 {
					background-color: $color0;
					&:hover {
						background-color: $color0 + #222;
					}
				}
				li.color-2 {
					background-color: $color1;
					&:hover {
						background-color: $color1+ #222;
					}
				}
				li.color-3 {
					background-color: $color2;
					&:hover {
						background-color: $color2+ #222;
					}
				}
				li.color-4 {
					background-color: $color3;
					&:hover {
						background-color: $color3 + #222;
					}
				}
				li.color-5 {
					background-color: $color4;
					&:hover {
						background-color: $color4 + #222;
					}
				}
				li.color-6 {
					background-color: $color5;
					&:hover {
						background-color: $color5 + #222;
					}
				}
				li.color-7 {
					background-color: $color6;
					&:hover {
						background-color: $color6 + #222;
					}
				}
				li.color-8 {
					background-color: $color7;
					&:hover {
						background-color: $color7 + #222;
					}
				}
				li.color-9 {
					background-color: $color8;
					&:hover {
						background-color: $color8 + #222;
					}
				}
				li.color-10 {
					background-color: $color9;
					&:hover {
						background-color: $color9 + #222;
					}
				}
			}
			&.change-nav {
				.heading {
					margin-bottom: 0px;
					margin-top: 10px;
					font-size: 1em;
					cursor: default !important;
					&:hover {
						color: #fff;
					}
				}
				li {
					font-size: 2.5em;
					margin-right: 10px;
					&:hover {
						color: #999;
					}
				}
			}
		}
	}
}
#ht-style-switcher.active {
	left: 0px;
	.toggle{
		right: -42px;
	}
}