/* 2 Top Area
----------------------------------------------------------------------------------------- */
#ht-top-area {
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding: 80px 0;
	@include bp(blw_sm) {
		background-position: center center;
	}
	&.away-nav {
		margin-bottom: 80px;
	}
	&.full-height {
		display: table;
		vertical-align: middle;
		padding: 0;
		.ht-top-content {
			display: table-cell;
			vertical-align: middle;
		}
	}
	&.fix-height {
		padding: 5% 0 0 0;
		&.sm {
			height: 250px;
		}
		&.md {
			height: 450px;
		}
		&.lg {
			height: 650px;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.ht-top-content {
		.text {
			position: relative;
			z-index: 2;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			> h1 {
				margin-bottom: 50px;
				height: 200px;
				line-height: 200px;
				font-size: 100px;
				color: rgba(255,255,255,0.4);
				background: rgba(0,0,0,0.3);
				z-index: 2;
				&.logo {
					height: auto;
					line-height: normal;
					font-size: 0;
					padding: 10px 0;
					a {
						display: inline-block;
						img {
							margin: 0 auto;
						}
					}
				}
			}
			> p {
				color: #fff;
				line-height: 48px;
				font-size: 36px;
				font-weight: bold;
				margin-top: 75px;
				padding: 0 300px;
				@include bp(blw_md) {
					padding: 0 150px;
				}
				@include bp(blw_sm) {
					padding: 0 15px;
					font-size: 24px;
				}
			}
			a.next-section {
				color: #fff !important;
				margin-top: 35px;
				.glyphicon {
					@include transition(300ms);
					font-size: 36px;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	.flexslider {
		background: transparent;
		border: none;
		box-shadow: none;
		.flex-direction-nav {
			.flex-prev, .flex-next {
				color: #fff;
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
			.flex-prev {
				// left: -40px !important;
			}
			.flex-next {
				// right: -40px !important;
			}
		}
		.flex-control-paging {
			li {
				a {
					background: rgba(255,255,255,0.6);
					box-shadow: none;
					&.flex-active {
						background: rgba(255,255,255,1);
					}
				}
			}
		}
	}
	.social-icon {
		text-align: center;
		display: block;
		margin-bottom: 30px;
		$diameter: 50px;
		$borderWidth: 3px;
		a {
			background-color: $global-color-2;
			display: inline-block;
			width: $diameter;
			height: $diameter;
			border: $borderWidth solid #fff;
			color: #fff;
			margin: 0 10px 10px 0;
			font-size: 2em;
			@include border-radius(50%,50%,50%,50%);
			&:hover {
				.fa {
					// @include ht-animation(1s,swing);
				}
			}
			.fa {
				@extend .animated;
				// @include transition(300ms all);
				@include border-radius(50%,50%,50%,50%);
				line-height: $diameter - 2 * $borderWidth;
				display: block;
			}
		}
	}
	.bigtext {
		@include bp(abv_sm) {
			padding: 0 200px;
		}
		h1, p {
			color: #fff;
		}
		p {
			margin-bottom: 10px;
			&.bold {
				font-weight: 700;
			}
		}
	}
	.slide-text.flexslider {
		.slides {
			li {
				color: #fff;
				font-size: 2em;
			}
		}
	}
	.ht-map {
		margin: -100px 0;
	}
	.testimonial.ht-owl-carousel {
		color: #fff;
		text-transform: none;
		margin-bottom: 30px;
		.fa {
			margin-bottom: 10px
		}
		p {
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: 300;
			margin-bottom: 15px;
			@include bp(abv_sm) {
				padding: 0 150px;
			}
		}
		cite {
			font-weight: 700;
			color: $global-color-2;
			&:before {
				content: "\2014";
				margin-right: 10px;
			}
		}
		em {
		}
	}
	&.slide-background {
		.flexslider {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.slides {
				> li {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					height: 660px;
					@include bp(abv_sm) {
						background-size: cover;
					}
					@include bp(blw_sm) {
						background-position: center center;
					}
				}
			}
			.flex-direction-nav {
				.flex-prev, .flex-next {
					position: absolute;
					top: 350px;
					z-index:3;
					font-size: 2em;
				}
				.flex-prev {
					// left: 15px !important;
				}
				.flex-next {
					// right: 15px !important;
				}
			}
			.flex-control-nav.flex-control-paging {
				z-index: 2;
				top: 600px;
			}
		}
		&:hover {
			.flexslider {
				.flex-direction-nav {
					.flex-prev {
						left: 10px !important;
					}
					.flex-next {
						right: 10px !important;
					}
				}
			}
		}
	}
}